
html {
    /* TODO: Change these later? */
    --color-meteorites: #ffad5b;
}

body {
    margin: 0px;
}

header#top {
    color: white;
    background-color: black;
}

header h1 {
    margin: 0px;
}

dialog {
    margin-top: 20px;
    margin-right: 20px;
    opacity: 0.3;
}

dialog:hover {
    opacity: 0.8;
}

dialog header {
    font-size: 1.1em;
    font-weight: bold;
}

dialog p {
    margin: 0px;
}

#minMass, #maxMass {
    width: 50px;
}

#main {
    width: 100%;
    height: 500px;
}

#mapArea {
    /*margin: 0px;*/
    background-color: white;
    width:70%;
}

#timeline {
    position: fixed;
    bottom: 0;
    overflow: visible;
}

#timeline .selection {
    stroke-width: 0;
    opacity: 0.4;
}

#time-handle, #time-text {
    cursor: pointer;
}

.bars-meteorites-found {
    fill: var(--color-meteorites);
}

.bars-meteorites-fell {
    fill: var(--color-meteorites);
}

#messages {
    position: fixed;
    left: 75%;
    top: 50%;
}

#statistics {
    width:30%;
    float:left;
    left:5px;
    margin:0px;
    padding:0px;
    position:fixed;
    top:35px;
    height:80%;


}

#MassDistribution {
    height:350px;
    position:fixed;
    top:200px;
    left:5px;
    float:right;
}

path.bins1 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

#massdistrib {
    position:fixed;
   }

   .bar1 rect {
     fill: var(--color-meteorites);
   }

   path.bins1 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

   .bar1:hover rect {
     fill: black;
   }

   .bar1 text {
     fill: #fff;
     font: 10px sans-serif;
   }

   .bar2 rect {
     fill:var(--color-meteorites);
   }

   path.bins2 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

   .bar2:hover rect {
     fill:black;
   }

   .bar2 text {
     fill: #fff;
     font: 10px sans-serif;
   }
