
html {
    /* TODO: Change these later? */
    --color-meteorites: #ffad5b;
}

body {
    margin: 0px;
    
    color: #ddd;
}

html {
    /*--color-bg: #000614;*/
    /*--color-bg: #01021e;*/
    /*--color-bg: #040534;*/
    --color-bg: #000;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

#main {
    width: 100%;
    height: 500px;
}

#search-field-container {
    --search-field-height: 4vw;
    
    position: fixed;
    right: 0;
    /*height: var(--search-field-height);*/
    width: 25vw;
    
    margin: 1vw;
    border-radius: 0.8vw;
    
    /*overflow: hidden;*/
    background-color: #ddd;
    
    /*transition: height 0.3s;*/
}

#search-field-container > * {
    text-align: center;
    color: #222;
}

#search-field-container > p {
    cursor: pointer;
    opacity: 0.4;
    
    font-size: 1.2vw;
    
    transition: opacity 0.3s;
}

#search-field-container > p[data-candidate] {
    opacity: 1;
}

#search-field {
    height: var(--search-field-height);
    width: 25vw;
    
    box-sizing: border-box;
    border: 0;
    
    padding: 1vw;
    
    font-size: 1.5vw;
    
    resize: none;
    outline: none;
    background: none;
}

#mapArea {
    margin: 0;
    width:70%;
}

#animation-control {
    position: fixed;
    bottom: 35px;
    left: 35px;
    padding: 5px;
    
    cursor: pointer;
}

#animation-control > path {
    fill: #ddd;
}

#animation-control > :first-child {
    display: none;
}

#timeline {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: visible;
}

/*.axis > path {
    stroke: #ddd;
}*/

.axis text {
    fill: #ddd;
}

#timeline .selection {
    stroke-width: 0;
    opacity: 0.4;
}

#time-handle {
    fill: #fff;
    stroke-width: 2;
    stroke: #000;
    cursor: pointer;
    z-index: 2;
}

#time-text {
    text-anchor: middle;
    cursor: pointer;
}

#time-text {
    fill: #444;
}

#time-handle {
    fill: #ddd;
}

.bars-meteorites-found {
    fill: var(--color-meteorites);
}

.bars-meteorites-fell {
    fill: var(--color-meteorites);
}

#messages {
    position: fixed;
    left: 75%;
    top: 50%;
}

#statistics {
    width:30%;
    float:left;
    left:5px;
    margin:0px;
    padding:0px;
    position:fixed;
    top:35px;
    height:80%;


}

#MassDistribution {
    height:350px;
    position:fixed;
    top:200px;
    left:5px;
    float:right;
}

path.bins1 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

#divMassDist{
    position:relative;
   }


#biggestMeteorite {
    position:relative;
}

#nameMeteorite {
	position: absolute;
	top:150px;
  right: 150px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#textBiggest {
	position: absolute;
	top:-30px;
  right: 140px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}




   .bar1 rect {
     fill: var(--color-meteorites);
   }

   path.bins1 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

   .bar1:hover rect {
     fill: black;
   }

   .bar1 text {
     fill: #fff;
     font: 10px sans-serif;
   }

   .bar2 rect {
     fill:var(--color-meteorites);
   }

   path.bins2 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

   .bar2:hover rect {
     fill:black;
   }

   .bar2 text {
     fill: #fff;
     font: 10px sans-serif;
   }

   .subBars{
   	shape-rendering:crispEdges;
   }
   .edges{
   	stroke:none;
   	fill-opacity:0.3;
   }


   text.perc{
   	font-size:7px;
   }

   text.label{
     font-size: 7px;

       }

 .mainBars rect{
     shape-rendering: auto;
     fill-opacity: 0;
     stroke-width: 0.5px;
     stroke:grey;
     stroke-opacity: 0;
   }
