
html {
    /*--color-bg: #000614;*/
    --color-bg: #01021e;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

/**/

dialog {
    margin-top: 20px;
    margin-right: 20px;
    opacity: 0.3;
}

dialog:hover {
    opacity: 0.8;
}

dialog {
    font-size: 1.1em;
    font-weight: bold;
}

dialog p {
    margin: 0px;
}

#minMass, #maxMass {
    width: 50px;
}

#main {
    width: 100%;
    height: 500px;
}

#mapArea {
    margin: 0px;
}

#timeline {
    position: fixed;
    bottom: 20px;
    overflow: visible;
}

#timeline .selection {
    stroke-width: 0;
}

#time-indicator > path {
    stroke: #ddd;
}

#time-handle, #time-text {
    cursor: pointer;
}

#time-handle {
    fill: #ddd;
}
