
#left-pane {
    --left-pane-height: 60vh;
    --left-pane-width: 30vw;
    
    position: fixed;
    top: 19vh;
    left: 2vw;
    height: var(--left-pane-height);
    width: var(--left-pane-width);
    
    border-radius: 0.8vw;
    
    background-color: var(--color-ui-bg);
}

.left-pane-containers {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: opacity 0.3s;
}

.left-pane-containers[data-hidden] {
    opacity: 0;
    z-index: -1;
}

/*
    Country statistics
*/

#country-stats-back-button {
    position: absolute;
    top: 1vw;
    left: 1vw;
    
    cursor: pointer;
}

#country-stats-back-button > path {
    fill: #ccc;
}

#country-stats-country-name {
    width: 100%;
    margin-top: 1.5vh;
    
    text-align: center;
    font-size: 1.5vw;
}

#mass-dist-chart path {
    stroke: var(--color-mean-mass-bars);
}

#country-stats-container .axes > path,
#country-stats-container .axes line {
    stroke: #ccc;
    opacity: 0.3;
}

#heaviest-meteorite-title {
    margin: 1.5vw 0 1vw 2vw;
    
    font-size: 1.5vw;
}

.heaviest-meteorite-info {
    margin-left: 2vw;
}

#country-stats-container > canvas {
    position: absolute;
    bottom: 3vh;
    right: 3vw;
}

#country-stats-no-data-text {
    margin: 0;
    
    text-align: center;
    line-height: var(--left-pane-height);
    font-size: 1.5vw;
    
    opacity: 0.5;
}

#country-stats-no-data-text[data-hidden] {
    opacity: 0;
}

/*
#divMassDist{
    position: relative;
}

#biggestMeteorite {
    position: relative;
}

#nameMeteorite {
	position: absolute;
	top:150px;
	right: 150px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#textBiggest {
	position: absolute;
	top:-30px;
	right: 140px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
*/

/*
    Class statistics
*/

#class-stats text {
    fill: #ccc;
}

#class-stats .perc {
    font-size: 7px;
}

#class-stats .label {
    font-size: 7px;
}

#MassDistribution {
    height: 350px;
    position: fixed;
    top: 200px;
    left: 5px;
    float: right;
}

path.bins1 {
    stroke: var(--color-meteorites);
    stroke-width: 4px;
    fill: none;
}

   .bar1 rect {
     fill: var(--color-meteorites);
   }

   path.bins1 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

   .bar1:hover rect {
     fill: black;
   }

   .bar1 text {
     fill: #fff;
     font: 10px sans-serif;
   }

   .bar2 rect {
     fill:var(--color-meteorites);
   }

   path.bins2 {
     stroke: var(--color-meteorites);
     stroke-width: 4px;
     fill: none;
   }

   .bar2:hover rect {
     fill:black;
   }

   .bar2 text {
     fill: #fff;
     font: 10px sans-serif;
   }

   .subBars{
   	shape-rendering:crispEdges;
   }
   .edges{
   	stroke:none;
   	fill-opacity:0.3;
   }

 .mainBars rect{
     shape-rendering: auto;
     fill-opacity: 0;
     stroke-width: 0.5px;
     stroke:grey;
     stroke-opacity: 0;
   }
